<%= render 'public/homes/header' %>
<div>
  <h3>本当に退会しますか？</h3>
  <p>
    退会すると会員情報や</br>
    今までの購入履歴が閲覧できなくなります。</br>
    退会する場合は「退会する」をクリックしてください。
  </p>
  <div>
    <%= link_to '退会しない', end_user_path %>
    <%= link_to '退会する', withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？" %>
  </div>
</div>