<%= render 'header' %>
<div>
  <div>
    <p>
      ようこそCDrecoへ！</br>
      このサイトはCDレコード販売のECサイトになります。</br>
      購入するには会員登録が必要となります。</br>
      会員でない方も商品の閲覧はできます。
    </p>
    <span>会員登録は<%= link_to 'こちら',  new_end_user_registration_path %>から</span>
  </div>
</div>